/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-align: center;
}

a {
  all: unset;
  cursor: pointer;
  transition: 0.2s ease color;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Vars */

:root {
  --color-border: #3a3a3c;
  --color-accent: #85c0f9;
  --color-error: #c94f6d;

  --color-text-light: #000000;
  --color-text-dark: #f8f8f8;

  --color-background-light: #ffffff;
  --color-background-dark: #121213;

  --color-json-parent: var(--color-error);
  --color-json-string: #a9b968;

  --color-correct-dark: #538d4e;
  --color-present-dark: #b59f3b;
  --color-absent-dark: #3a3a3c;

  --color-correct-light: #c9b458;
  --color-present-light: #6aaa64;
  --color-absent-light: #787c7e;

  --color-colorblind-correct: #85c0f9;
  --color-colorblind-present: #f5793a;

  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  --color-link-hover: var(--color-accent);

  --color-cell-correct: var(--color-correct-dark);
  --color-cell-present: var(--color-present-dark);
  --color-cell-absent:  var(--color-absent-dark);

  --color-cell-correct-font: var(--color-text-dark);
  --color-cell-present-font: var(--color-text-dark);
  --color-cell-absent-font: var(--color-text-dark);

  --color-code-background: var(--color-absent-dark);
  --color-cell-border: var(--color-border);
}

.light-theme {
  --color-cell-correct: var(--color-correct-light);
  --color-cell-present: var(--color-present-light);
  --color-cell-absent: var(--color-absent-light);
  --color-background: var(--color-background-light);
  --color-code-background: var(--color-absent-light);
  --color-text: var(--color-text-light);
}

.colorblind-mode {
  --color-cell-correct: var(--color-colorblind-correct);
  --color-cell-present: var(--color-colorblind-present);
  --color-cell-correct-font: var(--color-text-light);
  --color-cell-present-font: var(--color-text-light);
  --color-cell-absent-font: var(--color-text-dark);
}

/* Style start */

/* Utils */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-col {
  flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nodisplay {
  display: none;
}

/* Blocks */

@font-face {
  font-family: "CaskaydiaCove";
  src: url('/fonts/caskaydia-cove-bold.ttf');
  src: url('/fonts/caskaydia-cove-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "CaskaydiaCove", "Open Sans", sans-serif;
  transition: 0.2s ease background-color color;
}

header {
  width: 100%;
  height: 65px;
  padding: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 25px;
}


@media screen and (max-width: 1000px) {
  header {
    padding: 0 20px;
  }
}

footer {
  margin-top: 25px;
  width: 100%;
  border-top: 1px solid var(--color-border);
  padding: 20px;
}

.icons {
  font-size: 2rem;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  cursor: pointer;
  transition: 0.2s ease color;
}

.nf {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-background);
}

a:hover {
  color: var(--color-link-hover);
}

.icons i:hover {
  color: var(--color-link-hover);
}

.icons > *:active {
  border: 1px solid var(--color-border);
}

.content {
  max-width: 500px;
  margin: auto;
}

.block {
  margin-bottom: 25px;
}

#solution {
  text-align: center;
}

h1 {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 36px;
}

.error {
  color: var(--color-error);
}

.wordlist-hint {
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 1fr 5fr 5fr;
  align-items: center;
  justify-items: center;
  column-gap: 25px;
}

.or {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  background: var(--color-code-background);
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.paren {
  color: var(--color-json-parent);
  text-align: start;
  align-self: flex-start;
}

.string {
  color: var(--color-json-string);
}

.sample {
  height: 100%;
}

.cell {
  width: 62px;
  height: 62px;
  background: var(--color-cell-absent);
  color: var(--color-cell-absent-font);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  transition: 0.5s ease-out transform, 0.5s step-end background;
}

.cell-anim {
  transform: rotateX(90deg);
}

.cell-anim-delay {
  transition-delay: calc(var(--animation-order) * 100ms);
}

.pallete .cell {
  transition: border 0.2s ease;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.correct {
  background: var(--color-cell-correct);
  color: var(--color-cell-correct-font);
}

.present {
  background: var(--color-cell-present);
  color: var(--color-cell-present-font);
}

.absent {
  background: var(--color-cell-absent);
  color: var(--color-cell-absent-font);
}

.active {
  border: 5px solid var(--color-background);
}

.noresult {
  border: 2px solid var(--color-error);
}

.footer-link {
  padding: 0 20px;
}

.footer-link:not(.footer-link:last-child) {
  border-right: 1px solid var(--color-border);
}

.button {
  position: relative;
}

.button--loading .button-text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: var(--color-background);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
