/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Vars */

:root {
  --color-background: #121213;
  --color-border: #3a3a3c;
  --color-text: #f8f8f8;
  --color-accent: #85c0f9;
  --color-error: #ee4400;

  --color-link-hover: var(--color-accent);

  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: #3a3a3c;

  --color-colorblind-correct: #85c0f9;
  --color-colorblind-present: #f5793a;

  --color-cell-correct: var(--color-correct);
  --color-cell-present: var(--color-present);
  --color-cell-absent:  var(--color-background);

  --color-cell-font: var(--color-text);


  --color-cell-border: var(--color-border);
  --color-pallete-active: #0ff000;
}

/* Style start */

/* Utils */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-col {
  flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nodisplay {
  display: none;
}

/* Blocks */

@font-face {
  font-family: "CaskaydiaCove";
  src: url('/fonts/caskaydia-cove-light.ttf');
  src: url('/fonts/caskaydia-cove-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CaskaydiaCove";
  src: url('/fonts/caskaydia-cove-bold.ttf');
  src: url('/fonts/caskaydia-cove-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "CaskaydiaCove", "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 65px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 25px;
}

#github-link {
  font-size: 3rem;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  transition: 0.2s ease color;
}

#github-link:hover {
  color: var(--color-link-hover);
}

.content {
  max-width: 500px;
  margin: auto;
}

.block {
  margin-bottom: 25px;
}

#solution {
  text-align: center;
}

h1 {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 36px;
}

.error {
  color: var(--color-error);
}

.cell {
  width: 62px;
  height: 62px;
  border: 2px solid var(--color-cell-border);
  background: var(--color-cell-absent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) transform;
  transition: 0.2s ease-in-out background;
  /* transform: rotateX(180deg); */
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.correct {
  background: var(--color-cell-correct);
}

.present {
  background: var(--color-cell-present);
}

.absent {
  background: var(--color-cell-absent);
}

.correct, .present {
  color: var(--color-cell-font);
}

.active {
  border-color: var(--color-pallete-active);
}

.noresult {
  border-color: var(--color-error);
}
